In [1]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### 1. Getting Data Ready to use with SciKit Learn (sklearn)

3 main things to do here
1. Split the data into features and labels (x,y). Features and Lables are training inputs.
- On testing phase Features-like (same data structure like Features) data are used for input and Lables-like (same data structure like Lables) data are returned as output/prediction
- sklearn.model_selection's train_test_split is a good option for spliting all the data into x_train, x_test, y_train, y_test
2. Filling/imputing/disregarding missing values of the DataSet
3. Feature Encoding : Convert non-numerical values into numerical values

In [2]:
### 1.1 Feature Encoding: non-numerical to numerical conversion
car_sales = pd.read_csv("car-sales.csv")
car_sales_1k = car_sales[:1000].dropna().copy()
# check how nan rows
# car_sales_1k.isna().sum()
# len(car_sales_1k)
car_sales_1k.tail()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
995,Mercedes-Benz,9150.0,sedan,273,2.7,Diesel,yes,2000,E-Class
996,Renault,7900.0,van,268,1.5,Diesel,yes,2008,Grand Scenic
997,Toyota,72000.0,crossover,40,4.5,Diesel,yes,2014,Land Cruiser 200
998,Mercedes-Benz,49500.0,crossover,52,3.0,Diesel,yes,2013,ML 350
999,Volkswagen,45000.0,sedan,90,3.0,Diesel,yes,2011,Phaeton

In [3]:
# Split into X/y
X = car_sales_1k.drop(["Price", "Model"], axis=1)
y = car_sales_1k["Price"]

In [4]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features =  ['Brand', 'Body', 'Engine Type', 'Registration']
# X.columns.to_list

one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_features)],
                               remainder="passthrough")
transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.000e+00, 1.000e+00, 0.000e+00, ..., 2.770e+02, 2.000e+00,
        1.991e+03],
       [0.000e+00, 0.000e+00, 1.000e+00, ..., 4.270e+02, 2.900e+00,
        1.999e+03],
       [0.000e+00, 0.000e+00, 1.000e+00, ..., 3.580e+02, 5.000e+00,
        2.003e+03],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.000e+01, 4.500e+00,
        2.014e+03],
       [0.000e+00, 0.000e+00, 1.000e+00, ..., 5.200e+01, 3.000e+00,
        2.013e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 9.000e+01, 3.000e+00,
        2.011e+03]])

In [5]:
pd.DataFrame(transformed_X)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,277.0,2.0,1991.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,427.0,2.9,1999.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,358.0,5.0,2003.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,240.0,4.2,2007.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,120.0,2.0,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,273.0,2.7,2000.0
924,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,268.0,1.5,2008.0
925,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,40.0,4.5,2014.0
926,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,52.0,3.0,2013.0
927,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,90.0,3.0,2011.0

In [6]:
# Feature Encoding With Dummies
dummies = pd.get_dummies(car_sales_1k[['Brand', 'Body', 'Mileage', 'EngineV', 'Engine Type', 'Registration','Year']])
# X.columns.to_list
dummies

,Mileage,EngineV,Year,Brand_Audi,Brand_BMW,Brand_Mercedes-Benz,Brand_Mitsubishi,Brand_Renault,Brand_Toyota,Brand_Volkswagen,...,Body_other,Body_sedan,Body_vagon,Body_van,Engine Type_Diesel,Engine Type_Gas,Engine Type_Other,Engine Type_Petrol,Registration_no,Registration_yes
0,277,2.0,1991,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,True,False,True
1,427,2.9,1999,False,False,True,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
2,358,5.0,2003,False,False,True,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True
3,240,4.2,2007,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
4,120,2.0,2011,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,273,2.7,2000,False,False,True,False,False,False,False,...,False,True,False,False,True,False,False,False,False,True
996,268,1.5,2008,False,False,False,False,True,False,False,...,False,False,False,True,True,False,False,False,False,True
997,40,4.5,2014,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,True
998,52,3.0,2013,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
999,90,3.0,2011,False,False,False,False,False,False,True,...,False,True,False,False,True,False,False,False,False,True

In [7]:
# Split into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
len(X_train), len(X_test), len(y_train), len(y_test)

(742, 186, 742, 186)

In [8]:
# Build the model by fitting data
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.7151777010126915

### Fill missing data (nan rows) with SciKit Learn:

In [9]:
# Drop the row with no lable
car_sales_20 = car_sales[:20].dropna(subset=["Price"]).copy()
car_sales_20

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.00,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.90,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.00,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.20,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.00,Petrol,yes,2011,Rav 4
5,Mercedes-Benz,199999.0,crossover,0,5.50,Petrol,yes,2016,GLS 63
6,BMW,6100.0,sedan,438,2.00,Gas,yes,1997,320
7,Audi,14200.0,vagon,200,2.70,Diesel,yes,2006,A6
8,Renault,10799.0,vagon,193,1.50,Diesel,yes,2012,Megane
9,Volkswagen,1400.0,other,212,1.80,Gas,no,1999,Golf IV
10,Renault,11950.0,vagon,177,1.50,Diesel,yes,2011,Megane
11,Renault,2500.0,sedan,260,1.79,Petrol,yes,1994,19
12,Audi,9500.0,vagon,165,2.70,Gas,yes,2003,A6 Allroad
13,Volkswagen,10500.0,sedan,100,1.80,Petrol,yes,2008,Passat B6
14,Toyota,16000.0,crossover,250,4.70,Gas,yes,2001,Land Cruiser 100
15,Renault,8600.0,hatch,84,1.50,Diesel,yes,2012,Clio
16,BMW,2990.0,other,203,2.00,Petrol,no,2001,318
18,Toyota,26500.0,crossover,21,2.00,Petrol,yes,2013,Rav 4
19,Audi,3500.0,vagon,250,2.50,Diesel,no,1998,A6

In [10]:
# now delete some cells to test fill with sklearn
car_sales_20.at[7, "Mileage"] = None
car_sales_20

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277.0,2.00,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427.0,2.90,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358.0,5.00,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240.0,4.20,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120.0,2.00,Petrol,yes,2011,Rav 4
5,Mercedes-Benz,199999.0,crossover,0.0,5.50,Petrol,yes,2016,GLS 63
6,BMW,6100.0,sedan,438.0,2.00,Gas,yes,1997,320
7,Audi,14200.0,vagon,NaN,2.70,Diesel,yes,2006,A6
8,Renault,10799.0,vagon,193.0,1.50,Diesel,yes,2012,Megane
9,Volkswagen,1400.0,other,212.0,1.80,Gas,no,1999,Golf IV
10,Renault,11950.0,vagon,177.0,1.50,Diesel,yes,2011,Megane
11,Renault,2500.0,sedan,260.0,1.79,Petrol,yes,1994,19
12,Audi,9500.0,vagon,165.0,2.70,Gas,yes,2003,A6 Allroad
13,Volkswagen,10500.0,sedan,100.0,1.80,Petrol,yes,2008,Passat B6
14,Toyota,16000.0,crossover,250.0,4.70,Gas,yes,2001,Land Cruiser 100
15,Renault,8600.0,hatch,84.0,1.50,Diesel,yes,2012,Clio
16,BMW,2990.0,other,203.0,2.00,Petrol,no,2001,318
18,Toyota,26500.0,crossover,21.0,2.00,Petrol,yes,2013,Rav 4
19,Audi,3500.0,vagon,250.0,2.50,Diesel,no,1998,A6

In [11]:
# # Implementing of the sklearn's Imputer to fill missing rows data
# from sklearn.impute import SimpleImputer
# from sklearn.compose import ColumnTransformer

# # Fill categorical values with 'missing' & numerical values with mean
# cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
# door_imputer = SimpleImputer(strategy="constant", fill_value=4) 
# num_imputer = SimpleImputer(strategy="mean")

# # Define columns
# cat_features = ["Col1", "Col2"]
# door_feature = ["Col3"]
# num_feature = ["Mileage"]

# # Create an imputer
# imputer = ColumnTransformer([
#     ("cat_imputer", cat_imputer, cat_features),
#     ("door_imputer", door_imputer, door_feature),
#     ("num_imputer", num_imputer, num_feature)
# ])

# # Transform the data
# filled_X = imputer.fit_transform(X)

### Model/Estimator/Algorithm Selection In SciKit Learn:
- SKLearn refers machine learning models/algorithm as estimators
- Classification Problem - predecting a category - use classifier (clf) model
- Regression Problem - predecting a number - use regression model
- Docs: Look SciKit Learn's Machine Learning Map : https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

### Sample Dataset to practice/test
- Docs: https://scikit-learn.org/stable/datasets.html

In [12]:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [13]:
housing_df = pd.DataFrame(housing["data"], columns=housing["feature_names"])
# attatching target column, aka the y
housing_df["target"] = housing["target"]
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [14]:
# separate data frame into X and y
X = housing_df.drop("target", axis=1)
y = housing_df["target"]

In [15]:
# arrange data for training, testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

### Ensemble model:
An Ensemble model/estimator is a combination of smaller models to try and make better prediction than just a single model.

In [16]:
# as the target is to predict a price (number) so the model will be a regression model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor().fit(X_train, y_train)

# get success rate
# Return the coefficient of determination of the prediction : 
model.score(X_test, y_test)

0.8077321604497462

In [52]:
# Compare predictions to truth labels to evaluate the estimator instade of model.score
y_preds = model.predict(X_test)
# len(y_preds), len(y_test), y_test
np.array(y_test), y_preds
np.mean(y_preds == y_test) # for regression accuracy score is not efficient

0.0

In [36]:
model.score(X_test, y_test)

0.8077321604497462

In [40]:
# Accuracy score, it's for clacification
# from sklearn.metrics import accuracy_score
# y_preds = model.predict(X_test)
# accuracy_score(y_test,y_preds)

### Predict Proba:
- predict_proba returns probabilities of a classification label, or probability estimates

### Prediction Evaluation For Regression Estimator or Model

In [55]:
# Compare the predictions to the truth
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_preds)

0.3332907139534885

### Coefficient of determination
how correlated one dependent and one independent variable are. Also called r2 (r-squared). In our case all features as depentent and target column as independent variable.

In [18]:
# Try Ridge model
from sklearn import linear_model

model_reg = linear_model.Ridge(alpha=.5).fit(X_train, y_train)

model_reg.score(X_test, y_test)

0.5873298263848692

In [19]:
# # Try SVR(kernel="linear")
# from sklearn import svm

# model_regr_svm_linear = svm.SVR(kernel="linear")
# model_regr_svm_linear.fit(X_train, y_train)
# model_regr_svm_linear.score(X_test, y_test), model_regr_svm_linear.kernel

In [20]:
# # Try SVR(kernel="rbf")
# model_regr_svm_rbf = svm.SVR(kernel="rbf")
# model_regr_svm_rbf.fit(X_train, y_train)
# model_regr_svm_rbf.score(X_test, y_test), model_regr_svm_rbf.kernel

### Tidbit:
1. For structured data (csvs), use ensemble (RandomForest) method
2. For unstructured data (images, media files), use deep learning or transfer learning.